@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

// Variables overrides
$primary: #4a90e2;
$font-family-sans-serif: 'Poppins', sans-serif;
$border-radius: 0.5rem;
$container-max-widths: (
  xl: 1200px,
);

@import '~bootstrap/scss/bootstrap.scss';

// Global
body {
  background: #f8f8f8;
  min-width: 320px;
  padding-bottom: 4.5rem;
  -webkit-font-smoothing: antialiased;

  @include media-breakpoint-down(md) {
    padding-bottom: 2rem;
  }
}

// Navigation
@media (max-width: 991.98px) {
  .navbar-expand-lg > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar {
  padding: 2rem 0;
  transition: all 0.3s ease;

  &.scrolled {
    background: $primary;
    padding: 1rem 0;
  }

  &.background {
    background: $primary;
  }

  @include media-breakpoint-down(md) {
    padding: 1rem 0 2rem;

    .navbar-collapse.show,
    .navbar-collapse.collapsing {
      .navbar-nav {
        align-items: center;
        height: 100vh;
      }

      .navbar & {
        background: $primary;
      }
    }
  }

  .navbar-brand {
    position: relative;
    z-index: 2;
  }

  .navbar-nav .nav-item:last-child {
    .nav-link {
      @include media-breakpoint-up(lg) {
        padding-right: 0;
      }
    }
  }

  .navbar-nav .nav-link {
    color: $white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    &:hover,
    &.active {
      color: #4a90e2;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 1rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
      line-height: 3rem;

      &:hover,
      &.active {
        color: $black;
      }
    }
  }

  .navbar-toggler {
    border: 0;
    cursor: pointer;
    height: 3rem;
    outline: 0;
    padding: 0.5rem;
    position: relative;
    width: 3rem;
    z-index: 2;

    &-toggler-icon {
      background-image: none;
      position: relative;
    }

    span {
      background: $white;
      border-radius: 1.5px;
      display: block;
      height: 3px;
      position: absolute;
      transform-origin: center;
      transition: all 0.3s ease;
      width: 32px;

      &:nth-child(1) {
        top: calc(50% - 9px);
      }

      &:nth-child(2) {
        top: 50%;
      }

      &:nth-child(3) {
        top: 50%;
      }

      &:nth-child(4) {
        top: calc(50% + 9px);
      }
    }
  }

  .navbar-toggler.collapsed {
    span {
      &:nth-child(1),
      &:nth-child(4) {
        opacity: 0;
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
      &:nth-child(3) {
        transform: rotate(45deg);
      }
    }
  }
}

// Header
.jumbotron {
  background-color: rgba(#000, 0.5);
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 9rem;
  position: relative;

  &:before {
    background-image: url('./assets/images/header-background.jpg');
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.display-1,
.lead {
  color: $white;
  font-size: 7.5rem;
}

.display-1 {
  font-size: 118px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    font-size: 96px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 48px;
  }

  span {
    background: $primary;
    border-radius: 50%;
    display: inline-block;
    height: 0.16em;
    margin-left: 10px;
    width: 0.16em;
  }
}

.lead {
  font-size: 18px;
  font-weight: 500;
}

.btn {
  margin-top: 2.5rem;
  padding: 0.75rem 2.5rem;

  @include media-breakpoint-down(xs) {
    margin-top: 1.5rem;
  }
}

.header {
  padding-bottom: 4rem;

  @include media-breakpoint-down(md) {
    padding-bottom: 2rem;
  }
}

.trending {
  background: rgba($black, 0.5);
  color: $white;
  padding: 2.5rem 0;

  .col {
    line-height: 2rem;
    padding: 0 2rem;
  }

  .col:first-child {
    font-size: 20px;
    margin: auto 0;
  }

  .col:not(:first-child) {
    border-left: 1px solid $white;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

// Main
main {
  padding-top: 5rem;

  @include media-breakpoint-down(md) {
    padding-top: 2rem;
  }
}

.news {
  padding-bottom: 6rem;

  @include media-breakpoint-down(md) {
    padding-bottom: 3rem;
  }

  .card-title {
    color: #3e4d60;
  }

  .card-text {
    color: #8c94a8;
  }
}

.about {
  padding-bottom: 3.5rem;

  p {
    color: #3e4d60;
    line-height: 2rem;
  }
}

.footer {
  p {
    border-top: 1px solid #f1f1f2;
    color: #c3c0c0;
    font-size: 11px;
    padding-top: 0.5rem;

    @include media-breakpoint-down(md) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}
